<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
  <div class="" ng-controller="NarrowItDownController as narrowItDown">

    <div class="container-fluid">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div class="form-group">
        <input ng-model="narrowItDown.searchData" type="text" placeholder="search term" class="form-control">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="narrowItDown.requestItems()"  ng-disabled="narrowItDown.inProcess">Narrow It Down For Me!</button>
        <img ng-if="narrowItDown.inProcess"
          class="loading-icon"
          src="images/ellipsis.gif"
          alt="loading">
      </div>
    </div>

    <menu-item-description
        items="narrowItDown.items"
        on-remove="narrowItDown.removeItem(index)">
    </menu-item-description>

    <div class="container-fluid" ng-if="narrowItDown.isEmpty();">
      <div class="alert alert-info">
        Nothing found
      </div>
    </div>

    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="...." on-remove="...."></found-items> -->
  </div>
</div>
  <script src="libs/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
